@{
    ViewData["Title"] = "Home Page";
}


<a href="/Home/Register">Register</a>
<a href="/Home/Login">Login</a>

<img class="profile-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGqb8TjEBcOlMDa0LqKqSJJfKIMB73c0YmY_Q4c6pC5uhbUpUXgA&s" width="1100" height="700"/>


